* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}


.container {
    margin: 0 7rem;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

#home {
    height: 100vh;
    background-color: #016be0;
    color: white;
}

.Logo {
    width: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    padding: 20px;
}

#home .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

#home .content img {
    width: 220px;
    animation: animation1 0.5s ease-out;
}

#home .content .content_text h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;

}

#home .content .content_text h1 span {
    font-size: 70px;
    text-transform: uppercase;
}

#home .content .content_text p {
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 60%;
}

.btn {
    font-size: 14px;
    padding: 10px 15px;
    border-style: solid;
    border-radius: 100px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
}

.btn:hover {
    background-color: transparent;
    color: white;
    border-bottom: 3px;
    border-style: solid;
    border-color: white;

}

.Social {
    margin-left: 3rem;
    animation: animation1 0.7s ease-out;
}

.Social i {
    color: white;
    font-size: 25px;
    margin: 10px 0px;
    display: block;
}

.Pepsi_types {
    display: block;
    width: 100px;
    margin: auto;
    animation: animation2 0.5s ease-out;
}

@keyframes animation1 {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animation2 {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Tablet */
@media (max-width: 900px) {
    .container {
        margin: 0 1rem;
    }

    nav ul a {
        padding: 10px;
    }

    #home .content {
        flex-direction: column;
        text-align: center;
        padding: 2rem 0 0;
    }

    #home .content .content_text {
        margin-bottom: 2rem;
    }

    #home .content .content_text p {
        width: 100%;
    }

    #home .content img {
        width: 100px;
        margin-bottom: 10px;
    }

    .Social {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: block;
    }

    .Logo {
        display: block;
        margin: 0 auto 15px;
    }

    nav ul {
        justify-content: center;
    }

    nav ul a {
        font-size: 12px;

    }

    .Pepsi_types {
        margin-top: 15px;
        display: block;
        margin: 20px 0 0 0;
        order: 3;


    }


}